{{> head}}
{{!-- здесь мы используем наш паршл (partials) head.hbs для того чтоб задать мета данные доктайп и кодировку на всех страницах в нашем проекте --}}
<body>
{{> navbar}}
{{!-- здесь мы используем наш паршл (partials) navbar.hbs для отображения навбара с ссылками на разделы по нашему проекту --}}
    {{{body}}}
{{!-- здесь мы указываем handlebars'y место куда рендерить наши шаблоны страниц из папки views используя специальное слово body --}}

{{> footer}}
{{!-- здесь мы указываем наш паршл (partials) footer.hbs в котором мы храним скрипты подключения фреймворком со стилями, клиентские скрипты и т.д --}}
</body>
</html>